   @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  :root {
    --main-text-color: #212121;;
    --accent-color: #2196F3;
    --title-color: #212121;
    --dark-bg-color: #2F303A;
    --second-bg-color: #E5E5E5;
     }
}
body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    color: #212121;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.link {
    text-decoration: none;
    color: inherit;
}

.link-mailto,
.link-tel {
    color: #757575;
}

.link:hover{
    color: var(--accent-color);
  }

  .logo:hover{
    color: var(--accent-color);  
  }

  .logo-footer:hover{
    color: var(--accent-color);  
  }

  .link-mailto-footer:hover{
    color: var(--accent-color);
  }

  .link-tel-footer:hover{
    color: var(--accent-color);  
  }

.list,
.list-command {
    list-style: none;    
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;       
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;     
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;       
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #FFFFFF;
}


.socials-list {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--title-color);
  }

  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19x;       
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  .logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19x;       
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }

  .logo-web {
    color: var(--accent-color);
}

.hero {
    
    background: #2F303A;
}

.title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36x;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.button-hero {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

    .list-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    .page-list-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .page-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }

    .title-list-command {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;        
        letter-spacing: 0.03em;
        color: #212121;
    }

    .page-list-command {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #757575;
    }

    .footer {
        background-color: #2F303A;
    }

    .page-adress {
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;        
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .link-mailto-footer {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;        
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    .link-tel-footer {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;      
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    





  